.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background-color: #00ff7e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ee82ee;
}

/*---------------------------------------------------Gallery*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
 margin: 10px;
 transition: all 5s;
}
img:hover {
 transform: scale (1.1);
}


/*----------------------------------------------------Contact*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding: 15px;
    margin: 15;
    max-width: 60%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*-------------------------------Listen*/


